header { 
    text-align: center;
    font-size: 50px;
};
header b{
    text-align: center;
    font-size: 50px;
}
header p {
    font-size: 20px;
};
hr {
    border-width: thick;
    background-color: black;
    height: 50px;
};

th {
    width: 20%;
}